        <!-- FOOTER SECTION -->
                <footer>
                    <hr>
                    <div class="row">
                        <div class="col">
                            Copyright 2018
                        </div>
                        <div class="col text-right">
                            Karol Drwila
                        </div>
                    </div>
                </footer>

                </div>
            </div>
        </div>
        {{SCRIPTS}}
    </body>
</html>